h1{
    text-align: center;
    font-size: 300%;
    color:black
}

h2 {
    text-align: center;
    font-size: 300%;
    color: black
}

h3 {
    text-align: center;
    font-size: 200%;
    color: black
}

body{
    background-color:lightgreen;
    font-family: 'Times New Roman', Times, serif
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    text-align:center;
    padding:25px
}

#p1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: left;
    padding: 25px;
}

#p2 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: left;
    padding: 25px;
}


nav {
    text-align: center;
}

img{
    margin: 10px, auto

}

#float-right img{
    float:right;
    height:300px;
    width:auto;
    margin: 10px
}

#float-left img {
    float: left;
    height: 300px;
    width: auto;
    margin: 10px
}

#center img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin: 0, auto;
    height: 500px; 
    width: 500px, auto;
    padding: 10px;
}

nav a,
.top {
    text-align: center; 
    text-decoration: none;
    background-color: green;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 30px;
    margin: 15px;
    color: beige;
    border-radius: 20px;
    font-size: larger;
}

nav a:hover, .top:hover {
    color: darkblue;
    background: lime;
    text-decoration: underline
}

div.listcontainer {
    text-align:center

}

ol {
    display:inline-block;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size:20px
}