body {
    background-color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    color: ivory;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    border: 2px solid rgb(212, 212, 153)
}

img {
    width: 40%;
    margin: 15px auto;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container>div {
    background-color: orange;
}

.grid-container>div>img {
    width: 75%;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

#large {
    width: 50%;
    display: block;
    margin: 25px auto;
    padding: 20px;
    background: darkorange;
}