/* Set colors for the page */
body{
    background-color: rgb(75, 83, 228);
    color: black; /* this is the font color*/
}


/* create styles for h1 */

h1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
}

/* create styles for p */

p {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}

/* create styles for h2 */

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
}

/* create styles for h3 */

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
}

/* create style for image */

img{
    width: 15%;
    display: block;
    margin: 10px auto; 
    background:black;
    padding: 15px
    /* add outline to image with background and padding*/
}